# Some images got quite big so I don't want to include them, but I threw a few in this album:
#  https://imgur.com/a/ugq7FjN
# Imgur lossily compresses large images but you'll get a general idea
fractals/
